<h1 class="mt-4">Apresentação</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem Vindo</li>
</ol>
Gerador de Testes

Introdução

A orientação a objetos exige o conhecimento de conceitos de testes, fato o qual torna-se um empecilho para a construção de classes de teste para um aluno iniciante. O Testador de Classes surge para resolver esse problema. Ele é uma extensão do ambiente JEduc que permite o teste automático de classes. Tem por objetivo:

Estimular a compreensão do teste orientado a objetos: a classe como unidade
Incentivar o teste de classes: todos os construtores e todos os métodos

Criar classes que possam ser:
executadas para entender o funcionamento de uma classe criada pelo aluno
modificadas pelo aluno para tratar de casos de teste específicos
Testes Realizados

O módulo de Geração de Classes de Teste, a partir da classe do aluno, cria uma classe específica para realizar os seguintes testes:

Teste de construtores: testa-se todos os construtores da classe alvo para que se possa certificar que a entrada de argumentos não esperados não prejudique a execução correta do programa e que o objeto criado contenha os valores desejados.
Teste de métodos: com o teste funcional de cada método, controla-se o comportamento do objeto executando-se seus métodos para assegurar que funcionam conforme o esperado, isto é, que valores inválidos (valores que não estejam dentre a faixa de valores idealizados para a execução de tal método) não causem exceções não tratadas que ocasionem o término do programa de forma indesejada. Isso faz com que o aluno compreenda os objetivos do teste orientado a objetos, principalmente o teste individual de cada classe.

    Links
    Artigo
    Screenshots
    Downloads